.wpcf7{
  text-align:left;
  span{
    display: inline-block;
    vertical-align: top;
    margin: 0 2px;
  }
  .register{

  }
}

// Succesful form submit
.wpcf7-response-output{
  h2,h5{
    color: rgb(216, 215, 215);
  }
  .button{
    display: block !important;
    width: 100px;
    line-height: 200%;
    margin: 3px auto;
  }
}