//Logo
.goles-logo{
  position: relative;
  top: -3.3em;
  //masks logo with home link
  .home-link{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
    background-image: url('http://local.wordpress.dev/wp-content/uploads/2015/06/Transparent.gif');
  }
}
//small logo hidden in large and medium
.small-logo{
  display: none;
}

.nav-container{
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  margin-bottom: 1rem;
}

nav.top-bar {
  line-height:normal;
  section.top-bar-section {
    vertical-align: top;
    display: inline-block;
  }
}

[title="twitter-icon"],[title="instagram-icon"],[title="facebook-icon"] {
  i{
    color: $logo-dark-color !important;
    background-color: $logo-light-color !important;
    width: 28px !important;
    line-height: 120% !important;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 2px;

    &:hover{
      background-color:white !important;
    }
  }
}

.donate-bar{
  position: absolute !important;
  right: 0;
  top: -30px !important;
  height: 30px !important;
  width: 25% !important;
  font-weight: bold;
  border-radius: 7px 7px 0 0;
  font-size: x-large !important;
  background-color: #CE6C2D;
  line-height:1;
//  display: none;
}
.donate{
  font-weight: bold;
  background-color:#CE6C2D;
  margin: 0;
}

/*
MEDIA QUERIES
*/

@media #{$medium-only}{
  .top-bar{
    padding: 0 .3rem;
  }
  .goles-logo{
    font-size: 1.12vw;
    top: -3vw;
  }

  #menu-top-menu li a{
    white-space: nowrap;
    display:inline-block !important;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 1.2vw;
  }

  [title="twitter-icon"],[title="instagram-icon"],[title="facebook-icon"] {
    i{
      width:29px !important;
    }
  }
}

@media screen and (max-width: 800px){
  .top-bar{
    padding: 0 .3rem;
  }
  .goles-logo{
    top: -1.9rem;
  }
  .small-logo{
    display: inline-block;
  }
  .big-logo{
    display: none;
  }
  #menu-top-menu li a{
    font-size: 2.3vw;
  }
}

@media #{$small-only}{
  .metaslider{
    display:none;
  }
  .goles-logo{
    display:block;
  }
  .big-logo{
    display:block;
  }
  .off-canvas-list{
    font-weight: bold;
  }
  .left-small{
    border:none;
  }
}
