/*
Stylings for pages
*/

//set page background
#container{
  background-color:#f0eee4;
}

//page panel styling ( modifies base panel class )
.page-body{
  text-align: left;
  display:inline-block;
  padding: 0 0 1rem;
  box-shadow: 3px 3px 6px #CDCDCD;

  // Page headings
  h1{
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #C5C5C5;
  }

  .entry-content{
    text-align: justify;
    padding: .9rem 1rem 0;
  }
}

.article-header{
  padding: 1rem .7rem !important;
  h2{
    margin: 0;
    font-weight: bold;
    font-size: 2.1rem;
    text-transform: uppercase;
  }
  P{
    font-size:.9rem;
    margin: 0;
  }
}