.single .post{
  text-align: center;
  padding: 2rem 0;

  .article-header{
    margin-bottom: .5rem;
    border-bottom: 1px rgb(218, 218, 218) solid;
    text-align: center;
  }

  .entry-content{
    p, .text{
      text-align: left;
      font-size: 1.1rem;
      margin-top: .5rem;
    }
  }
  .entry-title{
    text-transform: uppercase;
  }

  .seperator{
    width: 100%;
    margin-top: .5rem;
    border-top: 1px rgb(218, 218, 218) solid;
  }
}